{% extends "layout.html" %}
{% block title %} Query History {% endblock %}
{% block content %}
	<h3> Query History for All Users</h3>
	
	<h5> You can use this page to find queries made by any user. </h5>

	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.uname.label }}<br>
			{{ form.uname(cols=30, rows=4) }}<br>
		{% for error in form.uname.errors %}
			<span style="color:red;"> [{{ error}}]</span>
	{% endfor %}
		</p>
		<p>{{ form.submit() }} </p> 
	</form>
{% endblock %}
