{%extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Today!</legend>
                
		<div id="uname" class="form-group">
			<p id="uname">  {{ form.uname.label(id="uname", class="form-control-label") }}</p>

                    {% if form.uname.errors%}
                        {{ form.uname(id="uname", class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.uname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
		    <p id="uname"> {{ form.uname(id="uname", class="form-control form-control-lg") }}</p>
                    {% endif %}
                </div>

                <div id="2fa" class="form-group">
		     <p id="2fa" {{ form.mfa.label(id="2fa", class="form-control-label") }}</p>

                    {% if form.mfa.errors%}
                        {{ form.mfa(id="2fa", class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.mfa.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
		    <p id="2fa"> {{ form.mfa(id="2fa", class="form-control form-control-lg") }} </p>
                    {% endif %}
                </div>

                <div id= "pword"class="form-group">
		<p id="pword">  {{ form.pword.label(id="pword", class="form-control-label") }}</p>
                    {% if form.pword.errors%}
                        {{ form.pword(id="pword", class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
		        {{ form.pword(id="pword", class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
            </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Registered? <a class="ml-2" href="{{ url_for('login') }}"> Log In</a>
        </small>
    </div>
{% endblock content %}
