{%  extends "layout.html" %}
{% block title %}Spell Checker{% endblock %}
{% block content %}
    <h1 class="text-center">Spell Checking App</h1>
    <h2>Welcome, {{ current_user.uname }}!</h2>
    <h4> Please input your text below so we can check your most likely not great spelling.</h4>


    <form action="" method="post">
        {{ form.hidden_tag() }}
    <p>
        {{ form.inputtext.label }}<br>
        {{ form.inputtext(cols=45, rows=10) }}<br>
        {% for error in form.inputtext.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>




    {% if post is defined %}
    <p>
        <h4>Submitted Text</h4>
        <div id="textout">
            {{ post.content }}<br>
        </div>

        <h4>Results</h4>
        <div id="misspelled">
            <b>{{ post.result }}</b><br>
        </div>
    </p>
    {% endif %}
{% endblock %}